[user]
	name = Todd Wolfson
	email = todd@twolfson.com
[mergetool]
	keepBackup = false
[mergetool "[tool]"]
	cmd = meld
[color]
	ui = true
[alias]
	add-pr = !git config --add remote.pr.url $(git config --get remote.origin.url) && git config --add remote.pr.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
	a=add -A
	m=commit -m
	cleanup=!_git_cleanup
	git=!git
	head = !git rev-parse HEAD | cut -c 1,2,3,4,5,6,7
	amend = commit --amend
	ad = add
	tags-sorted = !git tag | (sort -V 2> /dev/null || gsort -V 2> /dev/null)
	last-tag = !git tags-sorted | tail -n 1
	compare-last-tag = !hub compare \"$(git last-tag)\"...master
	clone-gist = "!f() { git clone $(echo \"$1\" | sed \"s/https:\\/\\/gist.github.com\\//git@gist.github.com:/\") $2; }; f"
[sequence]
	editor = sublime_text -w
[help]
	autocorrect = 7
[core]
	editor = pico
	excludesfile = /home/todd/.gitignore
[init]
	templatedir = /home/todd/github/dotfiles/git-template-dir/
[push]
	default = simple
[merge]
	tool = meld
