[user]
	name = Todd Wolfson
	email = todd@twolfson.com
[mergetool]
	keepBackup = false
[mergetool "[tool]"]
	cmd = meld
[color]
[color]
	ui = true
[alias]
	add-pr = !git config --add remote.pr.url $(git config --get remote.origin.url) && git config --add remote.pr.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
